header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

img {
    width: 10%;
}

a {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    position: relative;
}
footer {   
    background-color: black;   
    color: white;
    
}